.App {
  text-align: center;
}

/* style.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: sans-serif;
}

.container {
  text-align: center;
}
