.App {
  text-align: center;
}

/* style.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: sans-serif;
}

.container {
  text-align: center;
}
.agenda-title {
  font-weight: bold;
  color: blue;}

.agenda-description {
  margin-top: 5px;
  margin-bottom: 10px;
}

.lead-name {
  text-transform: uppercase;
}

.date-format {
  /* You can adjust the date format styles here */
  font-style: italic;
  color: #666; /* Gray color, you can adjust this */
}